body{
  color: aliceblue !important;
}

.nav-color{ 
  background-color: rgba(0,0,0,0.5) !important;
  color: aliceblue !important;
}

.text{
  color: aliceblue !important ;
}

.text:hover{
  color: orangered !important;
  transition: all 0.3s;
}

.welcomeContainer{
  width: 400px;
  position: relative;
  top:250px;
  
}

.welcomeMsg{
  font-size: 4rem;
  margin-bottom: 50px;
 
}

.welcomeMsg2{
  margin-bottom: 50px;
}

.welcomeBtn{
  border-radius: 5px;
  padding: 5px;
  background-color:rgba(0,0,0,0.5) !important;
  color: aliceblue;
}



.bg1{  
  background-image: url("bg.jpg"); 
  background-color: #cccccc; 
  height:100vh;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: fill; 
  margin-top: 0vh;
  background-attachment: fixed;
}
.bg2{
  background-image: url("bg2.jpg"); 
  background-color: #cccccc; 
  background-repeat: no-repeat; 
  background-size: cover; 
  color:wheat;
}

 